html{
    background-color: #f3e9d1;
}

h1{
    color: #0057A4;
    text-align: center;
    font-size: 40px;
}
hr{
    height: 4px;
    background-color: #C7D300;
}
h2{
    text-align: center;
    color: #0057A4;
}
h3{
    text-align: center;
    color: #FF6F61;
    font-size: 30px;
}
u{
    color: #333333;
}
#back{
    color: #FF6F61;
    font-size: 30px;
}
.pict{
    border-radius: 10px;
}
.test{
    border: solid #C7D300 4px;
    border-radius: 15px;
    padding: 10px;
}
#troll{
    font-size: 40px;
}
#bordure{
    background-color: #0057A4;
}
#maps{
    border-radius: 10px;
}
.layout{
    background-color: #F5F5F5;
    border: solid #C7D300 4px;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 35px;
}
.mapside{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: wrap;
}

